* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 140px;
    background-color: #f1f1f1;
    position: fixed;
    height:100%;
    overflow-x: hidden;

}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #000000;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .heading {
    text-align: center;
    padding-top: 25px;
    background-color: yellow;
  }
  .heading p {
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-size: 16pt;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px 30px 20px;
    
  }
  .img {
    display: flex;
    padding: 30px;
    margin: auto;
  }

  .dog {
      height: 400px;
      width: fit-content;
      margin: auto;
      object-fit: cover;
      display: flex;
      border: solid 20px black;
      overflow: hidden;
      transform: rotate(-4deg);
      position: relative;
  
  }
  .tired-doggo {
    width: fit-content;
    margin: auto;
    border: 20px solid black;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    display: flex;
  }
  .content {
    padding: 60px;
    margin-left: 140px;
    line-height: 30px;
    font-size: 20px;

  }
  .main-content h2 {
    padding-bottom: 10px;
  }
  .main-content {
    padding-top: 25px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }